.xn-query {
  display: inline-flex;
  margin: 0 10px;
  border-radius: 3px;

  button {
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    white-space: nowrap;
    span {
      display: inline-block;
      padding: 0 15px;
      border-right: 1px solid -color("border-color");
    }

    &:last-child {
      span {
        border: 0;
      }
    }
  }
}
